.linecomponent{
    /* width: 30vw; */
    border: 1px solid black;
    display: flex ;
    flex-direction:  column;
    text-align: center;
    align-items:  center;
}

.line-dashboard-container{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.lineheading{
    font-size: 20px;
    padding: 1rem;
    margin-top: 0.5rem;
}